div, input, textarea {  
    box-sizing: border-box;
}

body {
margin: 0px;
}

.title {
    text-align: center;
    font-size: 16px;
}

.content {
    text-align: center;
}

.box {
    width: 200px;
    background-color: cadetblue;
    margin: 10px;
    padding: 40px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 10px;
    box-shadow: 10px 5px 5px black;
}
/* 셀렉터 우선순위  style > id > class > tag */

.navbar li{
    display: inline-block;
    width: 60px;
    text-align: center;
    background: #eee;
    padding: 10px;
    border-radius: 5px;
}

.navbar a {
    font-size: 16px;
    text-decoration: none;
}

.container {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header {
    width: 100%;
    height: 100px;
    background: aquamarine;
}

.left-menu {
    /* float: left; */
    width: 20%;
    height: 400px;
    background: cornflowerblue;
    display: inline-block;
}

.blog-content {
    width: 80%;
    height: 200px;
    float: left;
}

.blog-profile {
    width: 40px;
    border-radius: 50px;
    float: left;
    margin: 5px;
}

.blog-name {
    float: left;
    margin: 5px;
}

.blog-img {
    width: 20%;
    height: 200px;

    float: left;
}

.left-up {
    margin: 5px;
    width: 630px;
    height: 30%;
    background-color: aquamarine;
}

.profile-block {
    display: inline-block;
}

.profile {
    width: 25px;
    border-radius: 50px;
}

.font {
    display: inline-block;
}

.name {
    font-size: 5px;
}

.time {
    font-size: 3px;
}

.right {
    /* float: left; */
    width: 20%;
    height: 100px;
    background: coral;
    float: right;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: gray;
    /* clear: both; */
}

.main-background {
    width: 100%;
    height: 500px;
    background-image: url(../img/shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 1px;
    
}

.main-title {
    color: white;
    font-size: 40px;
    margin-top: 200px;
    text-align: center;
    
}

.main-content {
    color: white;
    font-size: 20px;
    text-align: center;
}

.main-button {
    background-color: white;
    text-decoration: none; 
    color: black;
    border: none;
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
    display: block;
    width: 150px;
    margin: auto;
}

.explain-box {
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding: 2px;
    text-align: center;
    background-color: #eee;
    position: relative;
    top: -50px;
    box-sizing: border-box;
}

.text-input {
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.form-box {
    width: 300px;
    margin: auto;
    padding: 20px;
    text-align: left;
    border: 1px solid #dbdbdb;
}

.firstname-input {
    width: 100px;
    height: 25px;
    border: 1px solid #dbdbdb;
    margin-right: 10px;
}

.lastname-input {
    width: 100px;
    height: 25px;
    border: 1px solid #dbdbdb;
}

.email-box {
    padding-bottom: 10px;
}

.email-input {
    width: 220px;
    height: 25px;
    border: 1px solid #dbdbdb;
}

.email-box>p {
    margin-bottom: 10px;
}

.firstname {
    margin-right: 45px;
}

.name-line {
    margin-bottom: 5px;
}

.message-box>p {
    margin-top: 10px;
    margin-bottom: 5px;
}

.message-input {
    width: 220px;
    height: 75px;
    border: 1px solid #dbdbdb;
    margin-bottom: 10px;
}

.form-bottom-checkbox::before {
    width: 10px;
    background: gray;
    border: none;
}

.form-bottom>span {
    margin-right: 25px;
}

.form-bottom-submit {
    width: 100px;
    border: none;
    background-color: yellow;
}


.form-background {
    background-color: black;
    padding: 30px;
}

.form-white {
    background-color: white;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

.w-100 {
    width: 100%;
    padding: 10px;
}

.w-50 {
    width: 50%;
    float: left;
    padding: 10px;
}

.yellow-button {
    padding: 10px;
    display: block;
    margin-left: auto;
}