.profile {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    font-size: 16px;
}

.content {
    text-align: center;
}

.box {
    width: 200px;
    background-color: cadetblue;
    margin: 10px;
    padding: 40px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 10px;
}
/* 셀렉터 우선순위  style > id > class > tag */