.title {
    text-align: center;
    font-size: 16px;
}

.content {
    text-align: center;
}

.box {
    width: 200px;
    background-color: cadetblue;
    margin: 10px;
    padding: 40px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 10px;
    box-shadow: 10px 5px 5px black;
}
/* 셀렉터 우선순위  style > id > class > tag */

.container {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header {
    width: 100%;
    height: 100px;
    background: aquamarine;
}

.left-menu {
    /* float: left; */
    width: 20%;
    height: 400px;
    background: cornflowerblue;
    display: inline-block;
}

.blog-content {
    width: 80%;
    height: 200px;
    float: left;
}

.blog-profile {
    width: 40px;
    border-radius: 50px;
    float: left;
    margin: 5px;
}

.blog-name {
    float: left;
    margin: 5px;
}

.blog-img {
    width: 20%;
    height: 200px;
    float: left;
}

.left-up {
    margin: 5px;
    width: 630px;
    height: 30%;
    background-color: aquamarine;
}

.profile-block {
    display: inline-block;
}

.profile {
    width: 25px;
    border-radius: 50px;
}

.font {
    display: inline-block;
}

.name {
    font-size: 5px;
}

.time {
    font-size: 3px;
}

.right {
    /* float: left; */
    width: 20%;
    height: 100px;
    background: coral;
    float: right;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: gray;
    /* clear: both; */
}