.profile {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    font-size: 16px;
}

p { /* 모든 p 태그 */
    text-align: center;
}

#special {
    color: blue;
}

.content {
    color: red;
}

/* 셀렉터 우선순위  style > id > class > tag */